body{
    background-color: #ad6a6a;
    color:white;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h3{
    margin-top: 5%;
}
.div{
    width: 53%;
    margin-top: 17px;
}
.form-group{
    margin-bottom: 20px;
}
button{
    background-color: #d7a3a3;
}